<header class="header">
    <ul class="list">
        <li class="list__item">
            <a class="list__item_link" routerLink="/dashboard">
                Home
            </a>
        </li>

        <li class="list__item">
            <a class="list__item_link" routerLink="/model-create">
                New Model
            </a>
        </li>
    </ul>

    <p class="user-name" *ngIf="user">Hi, {{user.name}}</p>

    <div class="logout">
        <a class="logout__link" (click)="logout()" href="">
            Logout
        </a>
    </div>
</header>
