.delete {
    width: 14%;
    margin-top: 1.5%;
    margin-left: 1.5%;
    font-size: 1.1rem;
}

.delete button {
    margin-top: 2%;
    margin-left: 1.5%;
    height: 36px;
}

.model__title {
    margin-top: 5%;
    justify-content: center;
    display: flex;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #555555;
    opacity: 1;
    z-index: 5;
    bottom: 0;
}

.text {
    margin-top: 1%;
    color: whitesmoke;
    font-size: 1.1rem;
}