:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }

  .footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #555555;
    opacity: 1;
    z-index: 5;
    bottom: 0;
    position: absolute;
}

.text {
    margin-top: 1%;
    color: whitesmoke;
    font-size: 1.1rem;
}