.model-create {
    margin-top: 140px;
    margin-left: 2%;
    margin-right: 2%;
}

.form {
    width: 35%;
    margin-left: 35%;
    margin-top: 2%;

    .form__input {
        display: block;
    }

    .info {
        width: 35%;
        margin-left: 10%;
    }
}

.done {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 493px;
}