<mat-card class="model-create">
    <mat-card-header>
        <mat-card-title>
            Добавление модели
        </mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
        <div class="form">
            <div class="info">
                <mat-form-field class="form__input">
                    <input matInput type="text" placeholder="Имя" spellcheck="false" />
                </mat-form-field>
            
                <mat-form-field class="form__input">
                    <input matInput type="text" placeholder="Фамилия" spellcheck="false" />
                </mat-form-field>
            
                <mat-form-field class="form__input">
                    <input matInput type="text" placeholder="Гражданство" spellcheck="false" />
                </mat-form-field>
            
                <mat-form-field class="form__input">
                    <input matInput type="text" placeholder="Электронная почта" spellcheck="false" />
                </mat-form-field>
            
                <mat-form-field class="form__input">
                    <input matInput type="text" placeholder="Возраст" spellcheck="false" />
                </mat-form-field>
            
                <mat-form-field class="form__input">
                    <input matInput type="text" placeholder="Адрес" spellcheck="false" />
                </mat-form-field>
            
                <mat-form-field class="form__input">
                    <input matInput type="text" placeholder="Гендер" spellcheck="false" />
                </mat-form-field>
            
                <mat-form-field class="form__input">
                    <input matInput type="text" placeholder="День Рождения" spellcheck="false" />
                </mat-form-field>
            </div>
    
            <div class="info">
                <mat-form-field class="form__input">
                    <input matInput type="text" placeholder="Рост" spellcheck="false" />
                </mat-form-field>
            
                <mat-form-field class="form__input">
                    <input matInput type="text" placeholder="Бюст" spellcheck="false" />
                </mat-form-field>
            
                <mat-form-field class="form__input">
                    <input matInput type="text" placeholder="Талия" spellcheck="false" />
                </mat-form-field>
            
                <mat-form-field class="form__input">
                    <input matInput type="text" placeholder="Размер стопы" spellcheck="false" />
                </mat-form-field>
            
                <mat-form-field class="form__input">
                    <input matInput type="text" placeholder="Вес" spellcheck="false" />
                </mat-form-field>
            
                <mat-form-field class="form__input">
                    <input matInput type="text" placeholder="Цвет глаз" spellcheck="false" />
                </mat-form-field>
            
                <mat-form-field class="form__input">
                    <input matInput type="text" placeholder="Цвет волос" spellcheck="false" />
                </mat-form-field>
            
                <mat-form-field class="form__input">
                    <input matInput type="text" placeholder="Тип волос" spellcheck="false" />
                </mat-form-field>
            </div>
        </div>


        <button
            mat-raised-button
            color="primary"
            style="margin-top: 1%; margin-left: 85%;"
        >
            Загрузить фото
        </button>

        <button
            mat-raised-button
            color="primary"
            type="submit"
            style="margin-top: 1%; margin-left: 91%;"
        >
            Сохранить
        </button>
    </mat-card-content>
</mat-card>


