<app-header></app-header>
<div class="model">
    <div class="header">
        <mat-card class="photo">

            <mat-card-content>
                <img class="photo__img" src="https://static.kulturologia.ru/files/u18476/AlenaShiskova.jpg" alt="model photo" width="250px" height="270px">
            </mat-card-content>
        </mat-card>

        <mat-card class="events">
            <mat-card-header>
                <h2 class="events__header">Special notes</h2>
            </mat-card-header>

            <mat-card-content class="events__content">
                <form [formGroup]="notesForm">
                    <mat-form-field  style="width: 90%;">
                        <textarea matInput appearance="fill" type="textarea" formControlName="notes" spellcheck="false" style="height: 150px; background-color: #CCCCCC;"></textarea>
                    </mat-form-field>
                </form>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="footer">
        <mat-card class="info">
            <mat-card-header>
                <h2 class="info__header">Information</h2>
                <mat-icon class="editIcon" (click)="switchInfoMode()"  style="margin-left: 67.5%;">edit</mat-icon>
            </mat-card-header>

            <mat-card-content *ngIf="!isInfoEditMode" class="info__content" style="font-size: 1rem;">
                <p>Name: {{model.name}}</p>
                <p>Last Name: {{model.lastName}}</p>
                <p>Nationality: {{model.country}}</p>
                <p>Email: {{model.email}}</p>
                <p>Age: {{model.age}}</p>
                <p>Address: {{model.address}}</p>
                <p>Gender: {{model.gender}}</p>
                <p>Birthday: {{model.birthday}}</p>
            </mat-card-content>

            <mat-card-content *ngIf="isInfoEditMode" class="info__content">
                <form 
                    (ngSubmit)="saveModelInfo()"
                    [formGroup]="editInfoForm"
                    style="display: flex; flex-wrap: wrap;"
                >
                    <div style="width: 30%;">
                        <mat-form-field style="display: block;">
                            <input matInput formControlName="name" type="text" placeholder="Name" spellcheck="false" />
                        </mat-form-field>
    
                        <mat-form-field style="display: block;">
                            <input matInput formControlName="lastName" type="text" placeholder="Last Name" spellcheck="false" />
                        </mat-form-field>
    
                        <mat-form-field style="display: block;">
                            <input matInput formControlName="country" type="text" placeholder="Nationality" spellcheck="false" />
                        </mat-form-field>
    
                        <mat-form-field style="display: block;">
                            <input matInput formControlName="email" type="email" placeholder="Email" spellcheck="false" />
                        </mat-form-field>
    
                        <mat-form-field style="display: block;">
                            <input matInput formControlName="age" type="text" placeholder="Age" spellcheck="false" />
                        </mat-form-field> 
                    </div>
        
                    <div style="width: 40%; margin-left: 4%;">
                        <mat-form-field style="display: block;">
                            <input matInput formControlName="address" type="text" placeholder="Address" spellcheck="false" />
                        </mat-form-field>
    
                        <mat-form-field style="display: block;">
                            <input matInput formControlName="gender" type="text" placeholder="Gender" spellcheck="false" />
                        </mat-form-field>
    
                        <mat-form-field style="display: block;">
                            <input matInput formControlName="birthday" type="text" placeholder="Birthday" spellcheck="false" />
                        </mat-form-field>
                    </div>

                    <div style="width: 100%; margin-left: 64.5%;">
                        <button
                            mat-raised-button
                            color="primary"
                            type="submit"
                        >
                            Save
                        </button>

                        <button
                            mat-raised-button
                            color="warn"
                            style="margin-left: 7%;"
                            (click)="cancelInfoModelUpdate()"
                        >
                            Cancel
                        </button>
                    </div>
                    
                </form>
            </mat-card-content>
        </mat-card>

        <mat-card class="params">
            <mat-card-header>
                <h2 class="params__header">Params</h2>
                <mat-icon class="editIcon" (click)="switchParamMode()" style="margin-left: 83.5%;">edit</mat-icon >
            </mat-card-header>

            <mat-card-content *ngIf="!isParamEditMode" class="params__content" style="font-size: 1rem;">
                <p>Growth: {{model.growth}}</p>
                <p>Bust: {{model.bust}}</p>
                <p>Waist: {{model.waist}}</p>
                <p>Foot: {{model.footSize}}</p>
                <p>Weight: {{model.weight}}</p>
                <p>Appearance: {{model.appearance}}</p>
                <p>Eye Color: {{model.eyeColor}}</p>
                <p>Hair Color: {{model.hairColor}}</p>
                <p>Hair Type: {{model.hairType}}</p>
            </mat-card-content>

            <mat-card-content *ngIf="isParamEditMode" class="params__content">
                <form 
                    (ngSubmit)="saveModelParam()"
                    [formGroup]="editParamForm"
                    style="display: flex; flex-wrap: wrap;"
                >
                    <div style="width: 30%;">
                        <mat-form-field style="display: block;">
                            <input matInput formControlName="growth" type="text" placeholder="Height" spellcheck="false" />
                        </mat-form-field>

                        <mat-form-field style="display: block;">
                            <input matInput formControlName="bust" type="text" placeholder="Bust" spellcheck="false" />
                        </mat-form-field>
                            
                        <mat-form-field style="display: block;">
                            <input matInput formControlName="waist" type="text" placeholder="Waist" spellcheck="false" />
                        </mat-form-field>

                        <mat-form-field style="display: block;">
                            <input matInput formControlName="footSize" type="text" placeholder="Foot" spellcheck="false" />
                        </mat-form-field>
    
                        <mat-form-field style="display: block;">
                            <input matInput formControlName="weight" type="text" placeholder="Weight" spellcheck="false" />
                        </mat-form-field>
    
                        <mat-form-field style="display: block;">
                            <input matInput formControlName="appearance" type="text" placeholder="Appearance" spellcheck="false" />
                        </mat-form-field> 
                    </div>
        
                    <div style="width: 40%; margin-left: 4%;">
                        <mat-form-field style="display: block;">
                            <input matInput formControlName="eyeColor" type="text" placeholder="Eye Color" spellcheck="false" />
                        </mat-form-field>
    
                        <mat-form-field style="display: block;">
                            <input matInput formControlName="hairColor" type="text" placeholder="Hair Color" spellcheck="false" />
                        </mat-form-field>
    
                        <mat-form-field style="display: block;">
                            <input matInput formControlName="hairType" type="text" placeholder="Hair Type" spellcheck="false" />
                        </mat-form-field>

                    </div>

                        <button
                            mat-raised-button
                            color="primary"
                            type="submit"
                            style="height: 36px; margin-top: 30%;"
                        >
                            Save
                        </button>

                        <button
                            mat-raised-button
                            color="warn"
                            style="margin-left: 3%; height: 36px; margin-top: 30%;"
                            (click)="cancelParamModelUpdate()"
                        >
                            Cancel
                        </button>
      
                    
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<footer class="footer1">
    <p class="text1"> 
        © Copyright 2021. All rights reserved. Author Kristina Ermakova.
    </p>
</footer>
