<div class="model">
    <div class="header">
        <mat-card class="photo">
            <mat-card-header>
                <h2 class="photo__header">{{ photo }}</h2>
            </mat-card-header>
            <mat-card-content>
                <img class="photo__img" src="https://static.kulturologia.ru/files/u18476/AlenaShiskova.jpg" alt="model photo" width="250px" height="270px">
            </mat-card-content>
        </mat-card>

        <mat-card class="events">
            <mat-card-header>
                <h2 class="events__header">{{ event }}</h2>
                <button mat-raised-button color="primary" style="margin-left: 74%;">Редактировать</button>
            </mat-card-header>

            <mat-card-content class="events__content">
                <p>Кастинг, дата: 6 декабря 10:00</p>
                <p>Кастинг, дата: 8 декабря 15:00</p>
                <p>Кастинг, дата: 10 декабря 14:00</p>
                <p>Кастинг, дата: 11 декабря 8:00</p>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="footer">
        <mat-card class="info">
            <mat-card-header>
                <h2 class="info__header">{{ info }}</h2>
                <button mat-raised-button color="primary" style="margin-left: 52.5%;">Редактировать</button>
            </mat-card-header>

            <mat-card-content class="info__content">
                <p>Имя: Lise</p>
                <p>Фамилия: Annes</p>
                <p>Гражданство: ФРГ</p>
                <p>Электронная почта: lisses@gmail.com</p>
                <p>Возраст: 20</p>
                <p>Адрес: Проспект Пушкина, 14, д. 88, кв. 37</p>
                <p>Гендер: Женщина</p>
                <p>День рождения: 21.06.1998</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="params">
            <mat-card-header>
                <h2 class="params__header">{{ params }}</h2>
                <button mat-raised-button color="primary" style="margin-left: 70%;">Редактировать</button>
            </mat-card-header>

            <mat-card-content class="params__content">
                <p>Рост: 175.5 см</p>
                <p>Бюст: 80 см</p>
                <p>Талия: 61 см</p>
                <p>Размер стопы: 40 EU / 9 US / 7 UK</p>
                <p>Вес: 69 кг</p>
                <p>Внешность: европеоид</p>
                <p>Цвет глаз: голубой</p>
                <p>Цвет волос: светло-коричневые</p>
                <p>Тип волос: прямые</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
